<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='estilos.css')}}">
    <title>Respuestas de los alumnos</title>
</head>

<body>
    <div>
        <h2>Respuestas de los alumnos</h2>

        {% if respuestas %}
        <table border="1">
            <thead>
                <tr>
                    <th>Alumno</th>
                    <th>Tarea</th>
                    <th>Respuesta</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for respuesta in respuestas %}
                <tr>
                    <td>{{ respuesta[4].capitalize() }}</td>
                    <td>{{ respuesta[3] }}</td>
                    <td>{{ respuesta[1] }}</td>
                    {% if respuesta[2] != "pendiente" %}
                    <td>{{ respuesta[2].upper() }}</td>
                    {% else %}
                    <td>
                        <a href="/calificar-respuesta/{{respuesta[0]}}/aprobado" class="aprobado">Aprobado</a>
                        <a href="/calificar-respuesta/{{respuesta[0]}}/suspendido" class="suspendido">Suspendido</a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No hay respuestas aun.</p>
        {% endif %}
    </div>
</body>

</html>